<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="UserDBConnectionString"
             connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\UserDB.mdf;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <!-- Authentication -->
      
      
      
      <authentication mode="Forms">
        <forms defaultUrl="Home.aspx"
               loginUrl="Login.aspx"
               timeout ="20160" />
      </authentication>
        
        <!-- Sitemap -->
      <siteMap defaultProvider="sitemap1">
        <providers>
          <add name="sitemap1"
               siteMapFile="Web.sitemap"
               type="System.Web.XmlSiteMapProvider"
               securityTrimmingEnabled="true" />
        </providers>
      </siteMap>
        
    </system.web>
    
    <!-- Authorization -->
    <location path="Protected.aspx">
      <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
      </system.web>
    </location>

    <location path="Logout.aspx">
      <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
      </system.web>
    </location>

    <location path="Login.aspx">
      <system.web>
        <authorization>
          <allow users="?"/>
          <deny users="*" />
        </authorization>
      </system.web>
    </location>

    <location path="Register.aspx">
      <system.web>
        <authorization>
          <allow users="?"/>
          <deny users="*" />
        </authorization>
      </system.web>
    </location>
    
</configuration>

